@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    color: var(--clr-primary);
}

:root {
    --clr-background: #eceff1;
    --clr-white: #ffffff;
    --clr-primary: #183D3D;
    --clr-gray: #263238;
    --clr-border-bottom: #93B1A6;

    --font-size: 16px;
    --border-radius: 0.2em;

    --fz-xl-primary: 1.2em;
    --fz-primary: 1em;
    --fz-secondary: 0.8em;
    --fz-section-title: 1.5em;

    /* For 768px */
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size);
    color: var(--clr-gray);
    background-color: var(--clr-background);
}

/* For Nav section */

.navbar {
    width: 100%;
    background-color: var(--clr-primary);
    margin: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 3em;
}

.navbar ul li {
    padding-right: 1.5em;
    font-weight: bold;
    margin: 0;
}

.navbar ul a {
    text-decoration: none;
    color: var(--clr-white);
}

.navbar a:hover {
    border-bottom: 0.2em solid var(--clr-border-bottom);
}

#logo-text {
    color: var(--clr-white);
}

#logo_slash {
    color: var(--clr-border-bottom);
}

.navbar ul li:first-child {
    margin: auto;
    color: var(--clr-white);
    margin-left: 2em;
}

/* Home section */
#wrapper-main {
    margin: 2em;
}

.header {
    text-align: center;
}

/* For About Section */

#wrapper-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 2em;
}

#wrapper-about .column-1 {
    /* margin-left: 12em; */
}

#wrapper-about .column-2 h1{
    text-align: left;
}

#wrapper-about #about-desc h1{
    font-size: 3em;
    /* text-align: center; */
    margin-bottom: -0.1em;

    /* color: var(--clr-primary); */
    /* It's overriden on the *BODY {} */
}

#wrapper-about #about-desc p{
    /* color: var(--clr-primary); */
}

#ajdm_picture {
    width: 25rem;
    height: 35rem;
    border-radius: 21%;
}

/* For Projects section */

#wrapper-grid-projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

#wrapper-grid-projects .container{
    background-color: var(--clr-white);
    border-radius: var(--border-radius);
    padding: 1em;
    border-bottom: 0.5em solid var(--clr-primary);
}

#wrapper-grid-projects .container h2 {
    text-align: center;
}

.proj_thumbnail {
    max-width: 100%;
}

#hr-breaker {
    border: 0;
    height: 0.5em;
    background-color: var(--clr-border-bottom);
    margin: 1em 0;
}

.technologies li {
    list-style-type: disc;
    /* margin-left: 0.5em; */
}

.section-title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    text-decoration: underline var(--clr-primary);
}

/* For Skills section */

#wrapper-skills {
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#wrapper-skills .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.4em;
    padding: 0;
}

#wrapper-skills img {
    height: 100px;
    width: 100px;
    
    /* Other way to center an img or div inside of Grid */
    place-self: center;
}

/* For Education section */

#wrapper-grid-education .container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

/* For Experiences */

#wrapper-grid-experience .job-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-gap: 1em;
}

#wrapper-grid-experience .job-logo {
    margin-top: 1.6em;
}

/* For Contact section */

#wrapper-contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper-contact #contact-table {
    display: flex;
    border: 1px solid #000;
}

#wrapper-contact #contact-table th, td {
    padding: 0.5em;
    color: red;
}


/* For Media queries : Mobile Responsiveness */

@media screen and (max-width: 768px) {

    .section-title {
        font-size: 1.8em
    }

    /* Navbar section */
    .navbar {
        background-color: var(--clr-primary);
        margin: 0;
        width: 100%;
    }

    .navbar li {
        font-size: var(--fz-primary);
    }

    /* Home section */
    #wrapper-main .header {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    /* About section */
    #wrapper-about {
        display: flex;
        flex-direction: column;
    }

    #wrapper-about #about-desc h1{
        font-size: 1.8em;
        text-align: center;
    }

    #wrapper-about #about-desc p{
        font-size: var(--fz-primary);
        text-align: center;
    }

    #wrapper-about #ajdm_picture {
        /* display: none; */
        /* visibility: hidden; */
    }

    /* Project section  */
    #wrapper-grid-projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #wrapper-grid-projects .project-title {
        font-size: var(--fz-primary);
    }

    #wrapper-grid-projects p, ul {
        font-size: var(--fz-secondary);
    }

    /* Skills section */
    #wrapper-skills .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #wrapper-skills img {
        height: 80px;
        width: 80px;
        
        /* Other way to center an img or div inside of Grid */
        place-self: center;
    }

    /* Education Section */
    #wrapper-grid-education #school-details h3 {
        font-size: var(--fz-primary);
    }

    #wrapper-grid-education #school-details p {
        font-size: var(--fz-secondary);
    }

    /* Experience Section */
    #wrapper-grid-experience .company {
        font-size: var(--fz-xl-primary);
    }

    #wrapper-grid-experience .title {
        font-size: var(--fz-primary);
    }

    #wrapper-grid-experience .employment {
        font-size: var(--fz-secondary);
    }

    #wrapper-grid-experience .job-skills {
        font-size: var(--fz-secondary);
    }

    #wrapper-grid-experience .resume-cv {
        font-size: var(--fz-secondary);
    }
    
    /* Contact Section */
    #wrapper-contact #contact-table th{
        font-size: var(--fz-secondary);
    }

    /* Footer Section */
    #wrapper-footer {
        font-size: var(--fz-secondary);
    }

    #wrapper-footer #copyright {
        font-size: 0.7em;
        text-align: center;
        text-transform: uppercase;
    }

}


@media screen and (max-width: 550px) {

    .section-title {
        font-size: var(--fz-section-title);
    }

    /* Navbar section */
    .navbar {
        background-color: var(--clr-primary);
        margin: 0;
        width: 100%;
    }

    .navbar li {
        font-size: 0.8em;
    }

    /* Home section */
    #wrapper-main .header {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    /* About section */
    #wrapper-about {
        display: flex;
        flex-direction: column;
    }

    #wrapper-about #about-desc h1{
        font-size: 1.8em;
        /* color: blue; */
    }

    #wrapper-about #about-desc p{
        font-size: var(--fz-primary);
        text-align: center;
    }

    #wrapper-about #ajdm_picture {
        /* display: none; */
        /* visibility: hidden; */

    }

    /* Project section  */
    #wrapper-grid-projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #wrapper-grid-projects .project-title {
        font-size: var(--fz-primary);
    }

    #wrapper-grid-projects p, ul {
        font-size: var(--fz-secondary);
    }

    /* Skills section */
    #wrapper-skills .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #wrapper-skills img {
        height: 80px;
        width: 80px;
        
        /* Other way to center an img or div inside of Grid */
        place-self: center;
    }

    /* Education Section */
    #wrapper-grid-education #school-details h3 {
        font-size: var(--fz-primary);
    }

    #wrapper-grid-education #school-details p {
        font-size: var(--fz-secondary);
    }

    /* Experience Section */
    #wrapper-grid-experience .company {
        font-size: var(--fz-xl-primary);
    }

    #wrapper-grid-experience .title {
        font-size: var(--fz-primary);
    }

    #wrapper-grid-experience .employment {
        font-size: var(--fz-secondary);
    }

    #wrapper-grid-experience .job-skills {
        font-size: var(--fz-secondary);
    }

    #wrapper-grid-experience .resume-cv {
        font-size: var(--fz-secondary);
    }
    
    /* Contact Section */
    #wrapper-contact #contact-table th{
        font-size: var(--fz-secondary);
    }

    /* Footer Section */
    #wrapper-footer {
        font-size: var(--fz-secondary);
    }

    #wrapper-footer #copyright {
        font-size: 0.7em;
        text-align: center;
        text-transform: uppercase;
    }

}